<p id="notice"><%= notice %></p>

<h3>List of Product Basic Upsell => Which is only available with specific products!</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Main Product</th>
      <th>Basic Upsell Product</th>
   
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_master_add_ons.each do |product_master_add_on| %>
      <tr>
        <td><%= product_master_add_on.product_master.name if product_master_add_on.product_master %></td>
        <td><%= product_master_add_on.product_list.productlistdetails if product_master_add_on.product_list  %></td>
       
        <td><%= link_to 'Destroy', product_master_add_on, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


