<div class="row">
    <div class="col-xs-3">
		<%= link_to 'Show all', daily_tasks_path, class:"btn btn-primary btn-sm" %>

    </div>
  <%= form_tag  url_for(:controller => 'daily_tasks', :action => "index"), method: "get" do  %>
      <div class="col-xs-6">
        <div class="input-daterange input-group">
          <%= text_field_tag(:search, @search, :class => "form-control", :required => "true", :placeholder => "search no" )   %>
        </div>
      </div>
      <div class="col-xs-3">
        <%= submit_tag "Show", name: nil, class: "btn btn-primary" %>
      </div>
  <% end %>
</div>