<div class="row">
 <%= bootstrap_form_tag url: app_feature_requests_path, :method => :GET, :enforce_utf8 => false do |f| %>
<div class="col-xs-8">
<%= text_field_tag(:search, nil, :class => "form-control", :required => "true", :placeholder => "Search how to / link", :value => @search  )   %>
</div>

<div class="col-xs-4">
	<%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
</div>
<% end %>
</div>