<h3>New Campaign Playlist To Product</h3>

<%= render 'form' %>

<hr>
<%= link_to 'Back', url_for(:back), class: "btn btn-info btn-xs" %>
<!-- = link_to 'Back', campaign_playlist_to_products_path -->
