
  <% if @media_cost_master.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@media_cost_master.errors.count, "error") %> prohibited this media_cost_master from being saved:</h2>

      <ul>
      <% @media_cost_master.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#hbn " aria-controls="profile" role="tab" data-toggle="tab">
      HBN Time Slot wise</a></li>
    <li role="presentation">
      <a href="#pvt" aria-controls="home" role="tab" data-toggle="tab">Private Channel Slot Pricing</a></li>
  </ul>

  <!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="hbn">
    <% if @showhbn == 1 %>
      <%= render('hbn_channel') %>
    <% else %>
        <h3>You cant add HBN channels costing for private channel </h3>
    <% end %>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="pvt">
    <% if @showpvt == 1 %>
      <%= render('private_channel') %>
    <% else %>
      <h3>You cant add private channel costing for HBN channels </h3>
     <% end %>

  </div>

</div>

</div>
