<p id="notice"><%= notice %></p>

    <%= render partial: 'list', :locals => {:campaign_missed_lists => @campaign_missed_playlists, :list_name => "Missed Orders"}  %>
<br>
<%= render partial: 'list', :locals => {:campaign_missed_lists => @campaign_missed_lists, :list_name => "Aligned Orders"}  %>
<br>
<%= render partial: 'list', :locals => {:campaign_missed_lists => @campaign_missed_rev, :list_name => "Wrongly Aligned Orders"}  %>
<br>
