<h3>All interaction categories</h3>


<%= render "index_in", :list_name => "Call Disposing", :sort_name => "sortorder < 100", interaction_categories: @call_disposing_interaction_categories %>

<br><br>

<%= render "index_in", :list_name => "Customer Requests", :sort_name => "sortorder > 100 and sortorder < 200", interaction_categories: @customer_request_interaction_categories %>

<br><br>
<%= render "index_in", list_name: "Customer Support Queries", sort_name: "sortorder > 200 and sortorder < 500", interaction_categories: @customer_support_interaction_categories %>

<br><br>

<%= link_to 'New Interaction category', new_interaction_category_path, class: "btn btn-primary" %>
