<h3>Product Upsell Details</h3>
<p>Details of product available across</p>

<hr>
<%= render 'list' %>
<hr>

<%= render 'product_variants/list' %>
<hr> 
<h3>Add New Product Upsell Variant</h3>
<%= render 'product_variants/quick_create' %>