<!-- set page title start -->
<% title "Edit Details of #{@marketing_message.name}" %>
<!-- set page title end -->
<h1>Editing Marketing Message</h1>

<%= render 'form' %>

<%= link_to 'Show', @marketing_message %> |
<%= link_to 'Back', marketing_messages_path %>
