<table class="table table-hover">
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>Employee Code</th>
	</tr>
	
	<tr>
		<td><%= @user.name %></td>
		<td><%= @user.email %></td>
		<td><%= @user.employee_code %></td>
		</tr>
</table>
