<h3> Please change your password here </h3>
<div class="row">
<div class="col-xs-4"><%= @user.name %> </div>
<div class="col-xs-4"><%= @user.email %> </div>
<div class="col-xs-4"><%= @user.employee_code %> </div>

</div>

<hr>


<%= render 'users/change_password' %>