<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @interaction_user.name %>
</p>

<%= link_to 'Edit', edit_interaction_user_path(@interaction_user) %> |
<%= link_to 'Back', interaction_users_path %>
