
<div class="well well-sm">
  <div class="row">
	
	<div class="col-xs-12"> 
		
<h4><%= @reportname %> for <%= @product_master_name %> <small>(<%= @prod %>)</small> on <%= @for_date %></h4>

	</div>
  </div>
  </div>


<br>