<%= render 'report_heading' %>
<div class="well well-sm">
		<div class="row">
		<div class="col-xs-4">
		<h4>	Opening Stock  </h4> 
			
		</div>
		<div class="col-xs-2">
			 
		</div>
		<div class="col-xs-6">
		<h4>Total Opening Stock: <%= @opening_stock %> </h4>
		</div>
		
		</div>
</div>
	<div class="row">
<div class="col-xs-12">
<%= render 'product_stocks/list' %>
</div>
</div>
   
<br>