<%= render partial: 'show_details' %>
<hr>
<h3>Serviced Pincodes</h3> 


<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#servicedPincode" aria-expanded="false" aria-controls="servicedPincode">
  Add New Pincode
</button>
<div class="collapse" id="servicedPincode">
  <div class="well">
    <%= render partial: 'distributor_pincode_lists/form' %>
  </div>
</div>

<hr>

<h3>Product Stock Summary (where available or Returns more than ZERO</h3> 

<hr>
<h3>Recent Stock Ledger (Recent Stock Movements)</h3> 

<hr>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#distributorLedger" aria-expanded="false" aria-controls="distributorLedger">
  New Stock Ledger
</button>
<div class="collapse" id="distributorLedger">
  <div class="well">
    <%= render partial: 'distributor_stock_ledgers/form' %>
  </div>
</div>