<div class="row">
 <%= bootstrap_form_tag url: transfer_order_path, :method => :GET, :enforce_utf8 => false do |f| %>
<div class="col-xs-8">
<%= text_field_tag(:order_id, nil, :class => "form-control", :required => "true", :placeholder => "Enter Order Id", :value => @order_id  )   %>
</div>

<div class="col-xs-2">
	<%= submit_tag "Check", name: nil, class: "btn btn-primary" %>
</div>
<% end %>
  
</div>