<% if @campaign_playlists.present? then %>
  <%= render 'campaign_playlists/quick_list' %>

<br>


<%= link_to 'Download CSV list', campaign_playlists_path(campaignid: @campaign_id , format: :csv), class: "btn btn-info btn-sm" %>

<% elsif %>
    <div class="well well-sm">
    <h4>Please create a campaign playlist</h4>
    </div>
    
<% end%>

<br>