<div class="row">
<div class="col-xs-6">
  <h3> <%= @showingfor %></h3>
<small>Only Pvt Channels Schedules are are listed here</small>
</div>
<div class="col-xs-4 col-xs-offset-2">
   <%= render 'search' %>
</div>

</div>
 <%= render 'simple_list' %>