	<div class="row">
 		<div class="col-xs-10">  
		    <%= f.select(:campaign_playlist_id, 
		    options_from_collection_for_select(@all_calllist, :id, :playlistinfo), 
		    {}, :class => "form-control")  %>
		</div>
  	</div> 	