<h1>Editing Media Commision</h1>

<%= render 'form' %>

<%= link_to 'Show', @media_commision, class: "btn btn-info btn-xs" %> |
<%= link_to 'Back', media_commisions_path, class: "btn btn-info btn-xs" %>
