<table class="table table-hover">
  <thead>
    <tr>
       <th>Heading</th>
      <th>Description</th>
     
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_training_manuals.each do |product_training_manual| %>
      <tr>
         <td><%= product_training_manual.name %></td>
        <td><%== product_training_manual.description %></td>       
        <td><%= link_to 'Edit', edit_product_training_manual_path(product_training_manual) %></td>
        <td><%= link_to 'Destroy', product_training_manual, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> 
    <% end %>
  </tbody>
</table>