<div class="row">
	<div class="col-xs-12">
			
	  <ul class="nav nav-tabs">
	    <li class="active"><a data-toggle="tab" href="#instant">Till Today</a></li>
	    <li><a data-toggle="tab" href="#min">Last 30 Days</a></li>
	    <li><a data-toggle="tab" href="#day">Last 60 Days</a></li>

	  </ul>
	  
	  <div class="tab-content">
	      <div id="instant" class="tab-pane fade in active">
	       
			<table class="table table-hover table-stripped">
			<%= render partial: 'full_list', :locals => {:return_rates =>  return_rates_0, return_rate_offset: "Realtime"}  %>
			</table>
	      </div>
	      <div id="min" class="tab-pane fade">
	       
			<table class="table table-hover table-stripped">
			<%= render partial: 'full_list', :locals => {:return_rates =>  return_rates_30, return_rate_offset: "Ending 30 days"}  %>
			</table>
	      </div>
	      <div id="day" class="tab-pane fade">
	        
			<table class="table table-hover table-stripped">
			<%= render partial: 'full_list', :locals => {:return_rates =>  return_rates_60, return_rate_offset: "Ending 60 days"}  %>
			</table>
	      </div>
	      
	    	

				  
		</div>
	  </div>

</div>	