<h3>Listing Products</h3>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Price</th>
      <th>Taxes</th>
      <th>Total</th>
      <th>Cost</th>
      <th>Revenue</th>
     
      
    </tr>
  </thead>

  <tbody>
    <% @product_masters.each do |product_master| %>
      <tr>
      	
        <td><%= product_master.name %></td>
       
        <td><%= product_master.extproductcode %></td>
        <td><%= product_master.taxes %></td>
        <td><%= product_master.total %></td>
       
    
      </tr>
    <% end %>
  </tbody>
</table>

<br>