<div class="panel panel-success">
    <div class="panel-heading">
		<h3 class="panel-title">Deposit money in Bank Direct Bank Debit</h3>
	</div>
    <div class="panel-body">
        <div class="row">
         	<div class="col-xs-12">		
				<%= label_tag("Description", "#{@order_payment.description}") %>
			</div>
		</div>
    </div>
</div>
		
		