<!-- def page_title(page_title = '') -->
<% provide(:title, 'Sign up') %>
<!-- end of the title-->

<!-- def title(page_title) -->
<% title "Opened at #{@timenow}" %>
<!-- end of the title-->

<div class="well well-sm">
 <% if logged_in? %>
   <h4>Welcome to the Sure CRM App <%= current_user.name %>, you are logged in as <%= current_user.employee_role.name %> <small> <%= @timenow %></small> </h4>
<% else %>
  <h4>Welcom to Sure CRM</h4>
<small>Only Authorised people are allowed to move ahead form here</small>

   <% end %>
</div>

<div class="row">
<div class="col-xs-8">
  <div class="panel panel-primary">
     <!-- Default panel contents -->
    <div class="panel-heading">Your Pending Tasks</div>
    <% if logged_in? %>
    <div class="panel-body">
      <p>Coming soon...</p>
    </div>

  <% else %>
     <div class="panel-body">
     <h5>You are not logged in</h5>
    </div>
  <% end %>

  </div>
</div>

<div class="col-xs-4">
  <div class="panel panel-primary">
      <!-- Default panel contents -->
    <div class="panel-heading">Latest News</div>
    <% if logged_in? %>
    <div class="panel-body">
      <p>Coming soon...</p>
    </div>

  <% else %>
  <div class="panel-body">
     <h5>You are not logged in</h5>
    </div>

  <% end %>
  </div>
  </div>
</div>


<div class="well">
<!-- <%= image_tag("/project/home/exciting.png", :alt => "Image missing") %> -->
</div>

 <div class="row" style="visibility: hidden;">
      <h1>Table Fixed Header</h1>

    <div class="row fixed-table">
      <div class="table-content">
        <table class="table table-striped table-fixed-header" id="mytable">
          <thead class="header">
            <tr>
              <th>Email Address</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Administrator</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>admin@fakeadress.com</td>
              <td>firstname</td>
              <td>LastName</td>
              <td>Data Column 4</td>
            </tr>
            <tr>
              <td>admin@fakeadress.com</td>
              <td>firstname</td>
              <td>LastName</td>
              <td>Data Column 4</td>
            </tr>
            <tr>
              <td>admin@fakeadress.com</td>
              <td>firstname</td>
              <td>LastName</td>
              <td>Data Column 4</td>
            </tr>
            <tr>
              <td>admin@fakeadress.com</td>
              <td>firstname</td>
              <td>LastName</td>
              <td>Data Column 4</td>
            </tr>
            <tr>
              <td>admin@fakeadress.com</td>
              <td>firstname</td>
              <td>LastName</td>
              <td>Data Column 4</td>
            </tr>
            <tr>
              <td>admin@fakeadress.com</td>
              <td>firstname</td>
              <td>LastName</td>
              <td>Data Column 4</td>
            </tr>
            <tr>
              <td>admin@fakeadress.com</td>
              <td>firstname</td>
              <td>LastName</td>
              <td>Data Column 4</td>
            </tr>
            <tr>
              <td>admin@fakeadress.com</td>
              <td>firstname</td>
              <td>LastName</td>
              <td>Data Column 4</td>
            </tr>
            <tr>
              <td>admin@fakeadress.com</td>
              <td>firstname</td>
              <td>LastName</td>
              <td>Data Column 4</td>
            </tr>
            <tr>
              <td>admin@fakeadress.com</td>
              <td>firstname</td>
              <td>LastName</td>
              <td>Data Column 4</td>
            </tr>
            <tr>
              <td>admin@fakeadress.com</td>
              <td>firstname</td>
              <td>LastName</td>
              <td>Data Column 4</td>
            </tr>
            <tr>
              <td>admin@fakeadress.com</td>
              <td>firstname</td>
              <td>LastName</td>
              <td>Data Column 4</td>
            </tr>
            <tr>
              <td>admin@fakeadress.com</td>
              <td>firstname</td>
              <td>LastName</td>
              <td>Data Column 4</td>
            </tr>
            <tr>
              <td>admin@fakeadress.com</td>
              <td>firstname</td>
              <td>LastName</td>
              <td>Data Column 4</td>
            </tr>
            <tr>
              <td>admin@fakeadress.com</td>
              <td>firstname</td>
              <td>LastName</td>
              <td>Data Column 4</td>
            </tr>
            <tr>
              <td>admin@fakeadress.com</td>
              <td>firstname</td>
              <td>LastName</td>
              <td>Data Column 4</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
  </div>
        <script language="javascript" type="text/javascript" >
    $(document).ready(function(){
      // add 30 more rows to the table
      var row = $('table#mytable > tbody > tr:first');
      for (i=0; i<30; i++) {
        $('table#mytable > tbody').append(row.clone());
      }

      // make the header fixed on scroll
      $('.table-fixed-header').fixedHeader();
    });
  </script>
