<div class="row">
 <%= form_tag("/india_pincode_lists", method: "get") do  %>
<div class="col-xs-8">
<%= text_field_tag(:location, nil, :class => "form-control", :required => "true", :placeholder => "Search Location", :value => @searchvalue  )   %>
</div>

<div class="col-xs-4">
	<%= submit_tag "Ok", name: nil, class: "btn btn-primary" %>
</div>
<% end %>
</div>