<h3>Edit Product Cost Master</h3>

<%= render 'form' %>
<%= link_to 'Destroy (if duplicate)', @product_cost_master, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-sm" %> 
