
 <%= form_tag  url_for(:controller => 'sales_report', :action => searchaction), method: "get" do  %>


<div class="row">
  	<div class="col-xs-2">
    <strong> Select Media To add</strong>
    </div>
   	<div class="col-xs-8">
   
    <%= select_tag :employee_id, options_from_collection_for_select(@all_bdm, :id, :mediainfo), :class => "form-control" %>
    
  	</div>
  	<div class="col-xs-2">
         <%= submit_tag("Show Report", :class => "btn btn-success btn-sm") %> 
	</div>
</div>
<% end %>