 <div class="row">
	 <div class="col-xs-8">

	 <h4>Product Orders for day <%=  @orderdate %> </h4>
	 </div>
	 <div class="col-xs-4">

	 		 <%= render('date_search') %>
	</div>
 </div>

 
    <%= render('product_list') %>
  
