 <div class="row">
	 <div class="col-xs-6">

	 <h4>Product Ordered <%=  @orderdate %> </h4>
	 </div>
	 <div class="col-xs-6">
 <%= render partial: 'date_search', :locals => {:searchaction => "product"}  %>

	</div>
 </div>

 
    <%= render('product_list') %>
  
