<h1>New product_variant</h1>

<%= render 'form' %>

<%= link_to 'Back', product_variants_path %>
<script>
  $(document).ready(function() {
    $('#media_tape_head_product_variant_id').change(function() {
        $.ajax({
           url: "<%= productdetails_path %>",
           data: {
               id: $("#media_tape_head_product_variant_id option:selected").val()
           },
           dataType: "script"
        });
    });
  });
</script>
