<h1>Editing Media Tape Head</h1>

<%= render 'form' %>

<%= link_to 'Show', @media_tape_head, class: 'btn btn-primary btn-sm' %> |
<%= link_to 'Back', media_tape_heads_path, class: 'btn btn-primary btn-sm' %>
