
 <div class="field">
       <%= f.number_field :product_master_id %>
        </div>
   <div class="field">
       <%= f.date_select :checked_date %>
        </div>
   <div class="field">
        <%= f.number_field :current_stock %>
         </div>
