<% if @product_stocks.present? %>

<table class="table table-hover">
  <thead>
    <tr>
    
      <th>Date</th>
      <th>stock</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_stocks.each do |product_stock| %>
      <tr>
         <td><%= product_stock.checked_date.strftime("%d-%b-%Y") %></td>
       
        <td><%= product_stock.current_stock %></td>
      
       
     
   
        <td>
       
         <%= link_to 'Destroy', deleteproductstock_path(:id => product_stock.id, prod:@prod, from_date:  @or_from_date, to_date: @or_to_date, paid: @paid), data: { confirm: 'Are you sure?' }, method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <div class="well well-sm">
    No opening stock found
    </div>
<% end %>
<br>