<div class="row">
 <%= form_tag  url_for(:controller => 'campaigns', :action => get_action), :method => :GET do  %>
 
<div class="col-xs-9">
<%= text_field_tag(:for_date, @for_date, :data => {:provide => "datepicker"}, :class => "form-control", :required => "true", :placeholder => "Search Campaign Date", :id => 'datepicker1')   %>

</div>

<div class="col-xs-3">
	<%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
</div>
<% end %>
  
</div>
  <script>
  $(function() {
    $('#datepicker1').datepicker({format: 'yyyy-mm-dd'});
  });
  </script>