<p id="notice"><%= notice %></p>

<p>
  <strong>Product list:</strong>
  <%= @sales_upsale_product.product_list_id %>
</p>

<%= link_to 'Edit', edit_sales_upsale_product_path(@sales_upsale_product) %> |
<%= link_to 'Back', sales_upsale_products_path %>
