<p id="notice"><%= notice %></p>

<p>
  <strong>Product list:</strong>
  <%= @sales_ppo_product_alert.product_list_id %>
</p>

<%= link_to 'Edit', edit_sales_ppo_product_alert_path(@sales_ppo_product_alert) %> |
<%= link_to 'Back', sales_ppo_product_alerts_path %>
