	<table class="table table-striped table-bordered">
		<tr><th>Description</th></tr>
		<tr><th>Gross Revenue (Sales)</th></tr>
		<tr><th>Total Orders</td></tr>
		<tr><th>Total Pieces (All Products in order)</th></tr>
    	<tr><th><strong>Total Product Revenue </th><tr>
      	<tr><th>Product Cost </th></tr>
		<tr><th>Product Damages 10% of product cost  </th></tr>
		<tr><th>Refunds 2% of total sales</th>	</tr>
		<tr><th>Promo Cost</th></tr>
		<tr><th>Commission</th></tr>
		<tr><th>Media Cost</th></tr>
    	<tr><th><strong>Total Costs</th></tr>
		<tr><th>Cost Per Order</th></tr>
    	<tr><th>Total Profit</th></tr>
		<tr><th><strong>Profit Per Order</strong></th></tr>
	</table>