<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Cost and Revenue break up headings</h3></div>
	<table class="table table-bordered table-hover">
		<tr>
			<th></th>
			<th>Cost</th>
			<th></th>
			<th>Revenue</th>
		</tr>
		<tr>
			<td>1</td>
			<td>product cost</td>
			<td>1</td>
			<td>product revenue</td>
		</tr>
		<tr>
			<td>2</td>
			<td>damages</td>
			<td>2</td>
			<td>transfer order revenue</td>
		</tr>
		<tr>
			<td>3</td>
			<td>commission_cost
				(fixed_media_commission)</td>
			<td>3</td>
			<td></td>
		</tr>
		<tr>
			<td>4</td>
			<td>commission_on_order 
				(variable_media_commission)</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>4</td>
			<td>promotion_cost</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>5</td>
			<td>media cost</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>5</td>
			<td>shipping cost</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>6</td>
			<td>returns</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>7</td>
			<td>Finance Cost</td>
			<td></td>
			<td></td>
		</tr>
	</table>
</div>
