<!-- set page title start -->
<% title "Employee Report #{@from_date} to #{@to_date}" %>
<!-- set page title end -->
 <div class="row">
	 <div class="col-xs-6">

	 <h4>Sales Report for day <%=  @orderdate %> </h4>
	 </div>
	 <div class="col-xs-6">
<%= render partial: 'date_range_search', :locals => {:searchaction => "agent_order"}  %>
	 		
	</div>
 </div>

	<%= render 'agents_report' %>
 <br>

