<div class="row">
		<div class="col-xs-4">
              
          <%= link_to "Add Products", showproducts_path(:order_id => @order_master.id), class: "btn btn-info" %>
          </div>

    <div class="col-xs-4 col-xs-offset-4">      
    <%= link_to "Next Add Address", showaddress_path(:order_id => @order_master.id), class: "btn btn-primary" %>
    </div>
        
</div>