 <div class="row">
    <div class="col-xs-4 col-xs-offset-8">   
      <%= link_to "Add Payment Mode", showpayment_path(:order_id => @order_master.id), class: "btn btn-primary" %>
    </div>
        
</div>