
   <%= render 'customer_details' %>

<div class="row">
         <div class="col-xs-8">
                     <div class="clearfix"></div>     
                 <%= render 'orderlines' %>

    <div class="clearfix"></div>

   
    
       <!-- show address -->
  <%= render 'show_order_address' %>


     <div class="clearfix"></div>
      </div><!-- left panel end -->

        <div class="col-xs-4">
          <div class="panel panel-default">
              <div class="panel-heading">
              <h3 class="panel-title">Page Script</h3>
              </div>
              <div  class="panel-body">
                  <div id="product-script-id">
                
                  </div>
                  <div id="product-script">
                
                  </div>
            </div>
          </div><!-- panel end -->
        </div>  
</div>


  




