<div class="row">
<div class="col-xs-6">
<h3>Your Recent Orders</h3>
</div>
<div class="col-xs-6">
<p>These are list of your recent non-processed orders, you can call any of them to complete the orders. More orders you call and close higher earnings for you! </p>
</div>
</div>





  <%= render 'order_summary' %>