<% if @product_cost_masters.present? %>
<h3>Listing Product Cost Masters</h3>
<div class="well well-sm">
Revenue: <%= @product_cost_masters.first.revenue %>  <small><%= (@product_cost_masters.first.basic_cost || 0) + 
(@product_cost_masters.first.shipping_handling || 0) %>
basic_cost + shipping_handling 
</small>
<br>

  Cost: <%= @product_cost_masters.first.cost %>  <small> <%= (@product_cost_masters.first.product_cost || 0) + 
           (@product_cost_masters.first.tel_cost || 0) + 
        (@product_cost_masters.first.cost_of_return || 0) +
        (@product_cost_masters.first.call_centre_commission || 0) %>
product_cost + tel_cost + cost_of_return + call_centre_commission
</small>
</div>
<% end %>