<footer class="footer">
  <small>
    The Ruby on Rails Application
    by <a href="#">Tec2grow Solutions</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#', class: "btn btn-link" %></li>
      <li><%= link_to "Share Issues", 'https://www.hipchat.com/gwRzn9toO', target: '_blank',  class: "btn btn-danger btn-xs" %></li>
    </ul>
  </nav>
</footer>
