<footer class="footer">
  <small>
    The Ruby on Rails Application
    by <a href="http://www.tec2grow.com/">Tec2grow Solutions</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", 'product#contact' %></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>
