<header class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container-fluid">
    <%= link_to "Sure CRM ver 1.0", root_path, id: "logo" %>
  <%= render 'layouts/top_menu' %>
  </div>
</header>
