<blockquote>
  <p class="lead">Awesome, your order is processed, the id for this <strong> order id # <%= @cust_details_id %> </strong></p>
   <footer>Please close this window and wait for next call</footer>
</blockquote>