<div class="panel panel-primary">
  <div class="panel-heading">
   <h3 class="panel-title">Order Summary</h3>
    
  </div>
  
   <%= render 'ordered_non_edit' %>
  

  <div class="panel-footer">
<%= render 'order_footer' %>
  </div>
</div>