

<dl class="dl-horizontal">
  <dt>Basic Price</dt>
  <dd><div id="product-basic_id"></div></dd>
   <dt>Shipping</dt>
  <dd><div id="product-shipping_id"></div></dd>
  <dt>COD Charges</dt>
  <dd><div id="product-cod_id"></div></dd>
<dt>Maharashtra Surcharge</dt>
  <dd><div id="product-mah_id"></div></dd>
  <dt>Credit Card</dt>
  <dd><div id="product-cc_id"></div></dd>

</dl>
	