<table class="table table-striped table-bordered">
  <tr>
    <th colspan="3"><div id="product-basic_id"></div>
   </th>
  </tr>
   <tr>
    <th></th>
    <th> COD* </th>
     <th>CC </th>
  
  </tr>
<tr>
  <td>Total</td>
  <td><div id="product-cod_id"></div> </td>
  <td><div id="product-cc_id"></div> </td>
</tr>
<tr>
  <td>Maharashtra</td>
  <td><div id="product-mahcod_id"></div>
  </th>
  <td><div id="product-mahcc_id"></div> </td>
</tr>
<tr>
</table>
<small> *Includes Service Tax</small>


	