 <div class="panel panel-default">
              <div class="panel-heading">
              <h3 class="panel-title">
                  <div id="product-heading_id">Script</div>
              </h3>
              </div>
              <div  class="panel-body">
                    <%= render 'product_cost' %>
                  <div id="product-script">
                Script Details here
                  </div>
                  <hr>
<small>
                  <div id="product-script-id">
                
                  </div>
                  </small>
            </div>
          </div>